Body {
  background:#ffffff;
}

h1 
  {font-family: 'Georgia', Times, 'Times New Roman', serif;
}


h2 
  {color:#4aaaa5;
}

p 
  {color:#777777;
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;}


.container{
    width:960px;
    background-image: url("/Users/sandybonbon/10192019Assignment/assets/images/criss-cross.png");
    border-top:8px color:#4aaaa5;
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.border{
    background-color:#ffffff;
}

.page-footer{
  border-top: 8px solid #4aaaa5;
}